<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">Blog List</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li
          (click)="openDialog()"
          class="a"
          *ngIf="api.loggedInUserType === 'user'"
        >
          Add Blog
        </li>
        <li (click)="logout()" class="logout">Logout</li>
      </ul>
    </nav>
  </div>
</section>
<!-- {{ api.loggedInUserType }} -->
