<h2 *ngIf="api.loggedInUserType === 'user'">Welcome User</h2>
<h2 *ngIf="api.loggedInUserType === 'admin'">Welcome Admin</h2>

<mat-radio-group
  aria-label="Select an option"
  (change)="filteredData($event)"
  class="radiobtn"
>
  <mat-radio-button value="all">All</mat-radio-button>
  <mat-radio-button value="isApproved">Approved</mat-radio-button>
  <mat-radio-button value="isRejected">Rejected</mat-radio-button>
</mat-radio-group>

<!-- <mat-checkbox class="example-margin" (change)="checkedapproved($event, 'isApproved')">Approved</mat-checkbox>
<mat-checkbox class="example-margin" (change)="checkedapproved($event, 'isRejected')">Rejected</mat-checkbox> -->

<div
  class="main"
  *ngFor="let item of api.blogList"
  [ngClass]="item.isApproved ? 'approve' : item.isRejected ? 'reject' : ''"
>
  <h2 class="title">{{ item.title }}</h2>
  <br />
  <p class="decs">{{ item.desc }}</p>
  <div class="btn-div">
    <button
      class="approveBtn"
      *ngIf="api.loggedInUserType === 'admin'"
      [disabled]="item.isApproved"
      (click)="approved(item)"
    >
      {{ item.isApproved ? "Approved" : "Approve" }}
    </button>
    <button
      class="rejectBtn"
      *ngIf="api.loggedInUserType === 'admin'"
      (click)="rejected(item)"
      [disabled]="item.isRejected"
    >
      {{ item.isRejected ? "Rejected" : "Reject" }}
    </button>
  </div>
</div>
{{ api.loggedInUserType }}
