<div class="main">
  <img
    src="https://assets.thehansindia.com/h-upload/2021/07/31/1092805-tech.webp"
    alt=""
    class="image"
  />
  <div class="login-page">
    <h1>Login here</h1>
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name" />
        <input type="password" placeholder="password" />
        <input type="text" placeholder="email address" />
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="username" #email />
        <input type="password" placeholder="password" #pwd />
        <button (click)="loginSubmit(email.value, pwd.value)">login</button>
      </form>
    </div>
  </div>
</div>
