.main {
  display: block;
}
.submit-btn {
  height: 50px;
  width: 30%;
  background-color: rgb(179, 69, 69);
  color: white;
  border-color: none;
  border-radius: 10px;
  margin-top: 10px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(84, 69, 179);
}
